@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --olive: #4A5942;
  --ochre: #CE8923;
  --burnt: #D25E1B;
  --ivory: #FFF9ED;
  --espresso: #412B15;
  --blush: #D89B85;
  --maroon: #63212E;
  --sand: #E2C48F;
  --slateblue: #728888;
}

@layer base {
  body {
    background: var(--ivory);
    color: var(--espresso);
    font-family: 'Poppins', sans-serif;
  }
}
